<!DOCTYPE html>
<html ng-app="diabloApp">
    <head>
        <title>Diablo Item Evaluator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "format-detection" content = "telephone=no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="diablo diablo3 items statistics stats info top best gold battletag pve character player ranking loot statistic big data" />


        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/select2/select2.css" />
        <link rel="stylesheet" type="text/css" href="lib/angular-ui/angular-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <script src="lib/jquery-1.7.2.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-resource.min.js"></script>
        <script src="lib/angular-ui/angular-ui.min.js"></script>
        <script src="lib/underscore-min.js" type="text/javascript"></script>
        <script src="lib/jqplot/jquery.jqplot.min.js" type="text/javascript"></script>
        <script src="lib/select2/select2.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="lib/jqplot/plugins/jqplot.barRenderer.min.js"></script>
        <script type="text/javascript" src="lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
        <script type="text/javascript" src="lib/jqplot/plugins/jqplot.pointLabels.min.js"></script>
        <script type="text/javascript" src="lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
        <script type="text/javascript" src="lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>

        <!-- include application js -->
        <script src="js/attrMap.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/statController.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
        <script src="js/filters.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>
        <script type="text/javascript">

           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-36365410-1']);
           _gaq.push(['_trackPageview']);

           (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

          </script>
    </head>
    <body ng-controller="DiabloStatController" ng-init="init()">
        <div id="wrap">
            <div id="main" class="container-fluid clearfix">
                <div class="row-fluid">
                    <div class="span12">
                        <img src="img/logo.png">
                    </div>
                </div>
                <div id="popChargs" class="span12">
                     <span>Average Paragon Levels: {{avgParagonLvl.avgLevel}}</span>
                    <div id="paragonLevelChart"></div>
                    <span>Average Elite Kills: {{avgEliteKills.avg}}</span>
                    <div id="eliteKillsChart"></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="heroClass in heroClasses">
                                <a ng-click="classTabClick(heroClass)" class="{{heroClass.tabClass}}" href="{{heroClass.link}}">{{heroClass.className}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                        <div class="tab-content span12">
                            <div class="tab-pane {{heroClass.tabClass}}" ng-repeat="heroClass in heroClasses">
                                <!--<img src="{{heroClass.img}}" />-->
                                <div class="span3">
                                <table class="table table-bordered">
                                    <tr><th>Stat</th><th>Average</th></tr>
                                    <tr ng-repeat="(name,value) in heroClass.stats">
                                        <td>{{name}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </table>
                                </div>
                                <div class="row-fluid">
                                    <div class="span9">
                                    <table class="table table-bordered">
                                        <tr><th>Slot</th></tr>
                                        <tr ng-repeat="(slot, attributeGroups) in heroClass.itemStats">
                                            <td>{{slot}}</td>
                                            <td >
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><table>
                                                                <tr ng-repeat="attr in attributeGroups.twoAttribute.attributes"><td>{{attr}}</td></tr>
                                                            </table>
                                                        </td>
                                                        <td>{{attributeGroups.twoAttribute.count}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td >
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><table>
                                                                <tr ng-repeat="attr in attributeGroups.threeAttribute.attributes"><td>{{attr}}</td></tr>
                                                            </table>
                                                        </td>
                                                        <td>{{attributeGroups.threeAttribute.count}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td >
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><table>
                                                                <tr ng-repeat="attr in attributeGroups.fourAttribute.attributes"><td>{{attr}}</td></tr>
                                                            </table>
                                                        </td>
                                                        <td>{{attributeGroups.fourAttribute.count}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td >
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><table>
                                                                <tr ng-repeat="attr in attributeGroups.fiveAttribute.attributes"><td>{{attr}}</td></tr>
                                                            </table>
                                                        </td>
                                                        <td>{{attributeGroups.fiveAttribute.count}}</td>
                                                    </tr>
                                                </table>
                                            </td>


                                            <!--<td ng-repeat="attributeGroup in attributeGroups">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>{{attributeGroup.attributes}}</td>
                                                        <td>{{attributeGroup.count}}</td>
                                                    </tr>
                                                </table>
                                            </td> -->
                                        </tr>
                                    <table>
                                </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">

                 </div>
            </div>

            <div id="">
                <div id="legalnotice">Diablo® and Blizzard Entertainment® are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries. These terms and all related materials, logos, and images are copyright © Blizzard Entertainment. This site is in no way associated with or endorsed by Blizzard Entertainment®.</div>
            </div>
        </div>
        
    </body>
</html>
