/** app.css **/

body {
	background: url("../img/bg1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #eee;
}

#statistics {
	min-height: 482px;
}

.heroinfo{
	min-height: 290px;
}

.box {
	background: url("../img/leather-dark.jpg");
	border: 2px solid #26231E;
	padding: 10px;
}

.metal {
	background: url("../img/metal.jpg") repeat-x;
	height:30px;
}

a {
	color: #f00;
}

a:hover {
	color: #f44;
}

@font-face {
	font-family: AvQest;
	src: url("../fonts/AvQest.ttf");
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, .btn {
	font-family: AvQest;
	font-weight: normal;
}

.table td {
	border-top: 1px solid #333;
}

.table th {
	font-family: AvQest;
	font-weight: lighter;
	font-size: 1.7em;
	border-top: none;
}

p, label {
	color: #eee;
}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	background: #111;
	color: #eee;

}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
    background-color: #111;
    border: 1px solid #26231E;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.input-mini {
	margin-left: 10px;
}

select {
    background-color: #111;
    color: #eee;
    border: 1px solid #26231E;
    width: 220px;
}

.form-inline {
	padding-bottom: 7px;
}

.top-gaps {
	margin-top: 10px;
}

.top-gap {
	margin-top: 25px;
}

.top-gapl {
	margin-top: 50px;
}


/* Select2 Overrides
**********************************************/
.select2-result-selectable {
	background: #555;
	color: #ccc;
}



html, body, #wrap { height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 150px; }  /* must be same height as the footer */

#footer { 
    position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#legalnotice {
	margin: 25px 0 0 25px;
	color: #444;
	font-size: smaller;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.subnav {
	height: 32px;
}
.ui-scrollfix {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

#bannerAd {
	height: 60px;
	width: 468px;
	position: absolute;
	right: 20px;
	top: 25px;
}